{% extends "base.html" %}

{% block sidebar %}
<div class="sidebar gradient">
    <hr class='navline navline1'/>
    <h2 class='navtitle'>PAYABLES SYSTEM</h2>
    <hr class='navline'/>
    
    <div class='sidebar-menu'>
        <h4>Payable Records</h4>
        <ul class="right">
            <li class="nobullets"><a href='{{ url_for('listDetachmentsPayables') }}' class='opt2'>View Record</a></li>
            <li class="nobullets"><a href='{{ url_for('listDetachmentsPayables') }}' class='opt2'>Add Record</a></li>
        </ul> 
    </div>

</div>
{% endblock sidebar %}

{% block content %}

<h1>Employee Personal Payables</h1>
<hr>
<!--{% for company in companies %}
{% endfor %}-->
<br/>
<div id="periods">
  <form class='pure-form pure-form-aligned' method='link' action='{{ url_for('addPayables') }}'>
    <button class='pure-button'>Add New Payable Record</button>
  </form>
  <br/><br/><br/>
  <form class='pure-form pure-form-aligned'>
    <label>Search Record: </label><input type="text" class="search" placeholder="Enter period code, start date, or end date" />
  </form>
  <br/>
  <table class='search-results pure-table'>
    <thead>
      <tr>
        <th class="sort" data-sort="period">Period</th>
      </tr>
    </thead>

    <tbody class="list">
      <tr>
        {% for P in Payables %}
	    <tr>
	        <td class="period"><a href='{{ url_for('viewPayables', period=P.PeriodCode) }}'>{{ P.PeriodCode }}</a></td>
	    </tr>
	   {% endfor %}
    </tbody>
  </table>
</div>


    
{% endblock content %}